{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<h2>Welcome to the repeater controller</h2>

{% if current_user.is_authenticated %}
<script type="text/javascript">
function unlock_buttons() {
var btns = document.getElementsByTagName('BUTTON');
console.log(btns);
for (let btn of btns) {
  btn.removeAttribute('disabled');
}
}
</script>
<h3>Actions</h3>
Unlock: <button onclick="javascript:unlock_buttons();">Unlock</button><br>
<table>
<form method="POST" action="/" id="button_form">
<tr>
    <td><label for="comment">Comment</td>
    <td><input type="text" size="100" name="comment"></td>
</tr>
<tr><td colspan="2">Action:</td></tr>
{% for action in actions %}
<tr>
    <td><label for="{{ action.key}}">{{ action.label }}</label></td>
    <td><button type="submit" name="action" value="{{ action.key }}" {% if action.guard %}disabled{% endif %}>{{ action.button }}</button></td>
</tr>
{% endfor %}
<tr><td><label for="test_send_delay">Test send wait after connect</label></td><td><input type="text" name="test_send_delay"></td></tr>
<tr><td><label for="test_recv_delay">Test send wait after send</label></td><td><input type="text" name="test_recv_delay"></td></tr>
<tr><td><label for="test_send">Test send</label></td><td><button type="submit" name="action" value="test_send"></td></tr>
{{ form.csrf_token }}
</form>
</table>
{% endif %}

{% if action %}
<h3>Action processed:</h3>
<table>
<tr><td>User</td><td>{{ action.user }}</td></tr>
<tr><td>User IP</td><td>{{ action.ip }}</td></tr>
<tr><td>Command</td><td>{{ action.action }}</td></tr>
<tr><td>Comment</td><td>{{ action.comment }}</td></tr>

<tr><td>Submitted to server:</td><td> {{action.submitted}}</td></tr>
<tr><td>Submit result:</td><td> {{ action.submit_result }}</td></tr>
</table>
{% endif %}

{% if logs %}
<h3>Logs:</h3>
<table>
<tr><th>Timestamp</th><th>Username</th><th>Command + Comment</th><th>Submitted + Submit result</th></tr>
{% for log in logs %}
<tr><td>{{ log.ts }}</td><td>{{log.user.username}}</td><td>{{log.action}} {{log.comment}}</td><td>{{log.submitted}} {{log.submit_result }}</td></tr>
{% endfor %}
</table>
{% endif %}

<h3>Debug: Connections</h3>
<pre>
{{connections}}
</pre>
{% endblock %}
